#introduction 
{
	margin: 2%;
}

#generaldesc h1
{
    border-bottom: solid 7px;
	font-size: 450%;
}

#generaldesc p
{
    font-size: 150%;
}

.member h2
{
	font-size: 150%;
	border-bottom: solid 3px;	
}

.member p
{
	width: 60%;
}