#introduction 
{
	margin: 2%;
}

#generaldesc h1
{
    border-bottom: solid 7px;
	font-size: 450%;
	font-family: Fredericka the Great;
}


#generaldesc p
{

    font-size: 150%;
    font-family: 'Amaranth', sans-serif;
}





.member{
	margin: 3%;
	
	width: 40%;
	background-color: green2;


}

#firstmember
{
	background-color: red2;
}

#firstmember img
{
	margin-left: 11%;
}


.member .imagecontainer
{
	
	
}

.member img
{


margin-top: 5%;


	box-shadow: 3px 3px 4px #000;
	border: white solid 5px;	
height: 256px;
}


.member p
{

	margin-top: 2%;
	margin-bottom: 2%;
	    font-family: 'Amaranth', sans-serif;
	font-size: 130%;

	text-align:center;
}




#Div1{
	float: right;
}


#Div1 img
{
	margin-left: 30%;
}
    




