#introduction 
{
	margin: 2%;
}

#generaldesc h1
{
    border-bottom: solid 7px;
	font-size: 450%;
	font-family: Fredericka the Great;
}
.member h1
{
	text-align:center;
	margin-top: 1%;
	font-size: 250%;
        font-family: Fredericka the Great;
	border-bottom: solid 3px;	
}


#generaldesc p
{
	margin-top: 2%;
    font-size: 150%;
    font-family: 'Amaranth', sans-serif;
}
.member p
{

	margin-top: 2%;
	margin-bottom: 2%;
    font-family: 'Amaranth', sans-serif;
	font-size: 100%;

	text-align:center;
}
#Div1{
	float: right;
}


.member{
	margin-bottom: 5%;
	background-color: black;
	width: 30%;


}

.member img
{


margin-top: 2%;
margin-right: 10%;
	border: white solid 5px;	
height: 256px;
	}

    




