#logoandmenu
{
    background-position: 2%;
}


#logoandmenu #banner
{
    width: 40%;
    font-size: 200%;
    padding-bottom: 3%;
    margin-left: 15%;
    line-height: 220%;
}



#logoandmenu #banner h1
{
    padding-top: 1%;
    padding-left: 7%;
}

#logoandmenu #menu
{
    width: 52%;
    float: right;
    margin-top: 7%;
    font-size: 200%;
}

#menu #menulist li
{
    margin: 3%;
}



#content
{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10% 10%;
}


#content #slidinggallery
{
    margin-right: 5%;
    margin-top: 6%;
    height: 550%;
    width: 210%;
}
#whatwedo
{
    width: 50%;
    margin: 3%;
}

#whatwedo h1
{
    font-size: 570%;
}

#whatwedo p
{
    font-size: 150%;
}

#content #slidinggallery
{
    width: 430px;
    height: 250px;
    float: right;
}
#footer
{
    padding-top: 0%;
    padding-bottom: 4%;
    font-size: 80%;
}
