
@media screen and (min-width:320px)
{
    *
    {
            margin: 0;
            padding: 0;
    }


    #main
    {
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.16, rgb(0,0,0)),
              color-stop(0.51, rgb(11,204,222)),
              color-stop(0.78, rgb(0,0,0))
            );
            
        
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D16173', endColorstr='#C7C5A7');
            background: -moz-linear-gradient(top,  #D16173,  #C7C5A7);
    }

    #logoandmenu
    {
                text-align:center;
    }

    #logoandmenu img
    {
            max-width: 25%;
    
            
    }


    
    #logoandmenu #banner a
    {
        text-decoration: none;        
    }


    #logoandmenu #banner h1
    {
        display:inline;
        line-height: 0;
            font-family: 'Just Me Again Down Here', cursive;
            color: #DBD328;
            background: -webkit-gradient(linear, left top , left bottom, from(#DBD328), to(#C7C5A7));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #1A4352;
            line-height: 0;
            
    }

    #logoandmenu #menu 
    {
            
            padding-top: 5px;
            
            
    }

    #menu #menulist li
    {
            display: inline;
            margin: 1%;
            font-size: 59%;
    }


    #menu #menulist li a
    {
            color: #DBD328;
            text-decoration: none;
            font-family: eater ;
            font-weight:bold;
    }

    #content
    {
        color: #1A4352;
    }

    #whatwedo
    {
            font-size: 30%;
            float: left;
            width: 20%;
    }

    #whatwedo h1
    {
            font-family: Fredericka the Great,fantasy;
    }

    #whatwedo #desc
    {
            font-size: 250%;
            font-family: 'Amaranth', sans-serif;
    }

    #content #slidinggallerycontainer
    {
        float: right;
        width: 30%;
            
    }
    #footer
    {
            padding-top: 3%;
	    padding-bottom: 4%;
            text-align: center;
        
            clear: both;
            color: #1A4352;
            font-family: eater; 
    }
    
    #footer h1
    {
            font-size: 130%;
    }
}

@media screen and (min-width:480px)
{
    #main
    {
        background-image: none;
        background-color: purple;
    }
    #menulist li a
    {
      font-size: 121%;
      margin: 2%;
    }
}    

@media screen and (min-width:600px)
{
    #main
    {
        background-image: none;
        background-color: red;
    }
    
    #content
    {
        width: 94%;
        border-radius: 10% 10%;
        border: solid 2px;
        margin-left: 3%;
        margin-right: 3%; 
    }
    
      
    
    
    #whatwedo 
    {
        font-size:35%;
    }
    
  

    #menulist li a
    {
      font-size: 150%;
      margin: 2%;
    }
}


@media screen and (min-width:768px)
{
    #main
    {
        background-image: none;
        background-color: blue;
    }
    #menulist li a
    {
      font-size: 190%;
      margin: 2%;
    }
}    

@media screen and (min-width:1024px)
{
    #main
    {
        background-image: none;
        background-color: green;
    }
    
    #whatwedo 
    {
        font-size:45%;
    }
    
    #menulist li a
    {
      font-size: 270%;
      margin: 2%;
    }
}


@media screen and (min-width:1200px)
{
    #main
    {
        background-image: none;
        background-color: grey;
    }
    #menulist li a
    {
      font-size: 307%;
      margin: 2%;
    }
}    
