*
{
    margin: 0;
    padding: 0;
}

#logoandmenu
{
    background-position: 32%;
    background-color: Black;
}


#logoandmenu #banner
{
    
    font-size: 200%;
    padding-bottom: 3%;
    margin-left: 55%;
	margin-bottom: 5%;
    line-height: 120%;
}




#logoandmenu #banner h1
{
    font-family: 'Just Me Again Down Here' , cursive;
    color: #DBD328;
    background: -webkit-gradient(linear, left top , left bottom, from(#DBD328), to(#C7C5A7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1A4352;
    
    padding-left: 7%;
}

#logoandmenu #menu
{

    position: relative;
    top: 180px;
    
    font-size: 200%;
}

#menu #menulist li
{
    display: inline;
    margin: 3%;
}


#menu #menulist li a
{
    color: #DBD328;
    text-decoration: none;
    font-family: eater;
    font-weight: bold;
}

#content
{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    color: #1A4352;
    border: solid 2px;
    border-radius: 10% 10%;
}


#content #slidinggallery
{
    margin-right: 5%;
    margin-top: 6%;
    border: solid 2px;
    height: 550%;
    width: 210%;
}
#whatwedo
{
    width: 50%;
    margin: 3%;
}

#whatwedo h1
{
    font-size: 570%;
    font-family: Fredericka the Great;
}

#whatwedo p
{
    font-size: 150%;
    font-family: 'Amaranth' , sans-serif;
}

#content #slidinggallery
{
    width: 430px;
    height: 250px;
    float: right;
}
#footer
{
    padding-top: 0%;
    padding-bottom: 4%;
    text-align: center;
    font-size: 80%;
    color: #1A4352;
    font-family: eater;
}
