#categories #categorieslist 
{
        width: 70%;
	margin-left: 20%;
	margin-right: 15%;
	margin-top: 1%;
	
}

#categories #categorieslist li
{
    display: inline;
	background-repeat: no-repeat;
	background-position: center;
	margin: 5%;
	color: #DBD328;
    font-family: 'eater', cursive;
	padding-bottom: 16%;
	font-size: 120%;

}


#categories #categorieslist #rings
{
	background-image: url('../images/gallery/skull_ring2.png');
}

#categories #categorieslist #bracelets
{
	background-image: url('../images/gallery/bracelets.png');
}

#categories #categorieslist #watches
{
	background-image: url('../images/gallery/skullwatchnobackground.png');
}

#categories #categorieslist #necklaces
{
	background-image: url('../images/gallery/necklaces.png');
}

#categories #categorieslist #earings
{
	background-image: url('../images/gallery/earings.png');
}

#galleryflow
{
	margin-top: 9%;
	
}


