@media screen and (min-width:320px)
{
  #slidinggallery
  {
          margin-right: 5%;
          margin-top: 6%;	
          border: solid 2px;
          height: 550%;
          width: 210%;
          width: 430px;
          height: 250px;
          float: right;
  }
  #whatwedo
  {
      float: left;
          width: 40%;
          margin: 3%;
  }

  #whatwedo h1
  {
          font-size: 170%;
          font-family: Fredericka the Great;
  }

  #whatwedo p
  {
          font-size: 80%;
          font-family: 'Amaranth', sans-serif;
  }
}

@media screen and (min-width:480px)
{
  #whatwedo h1
  {
          font-size: 196%;
  }

  #whatwedo p
  {
          font-size: 97%;
  }
}

@media screen and (min-width:600px)
{
  #whatwedo h1
  {
          font-size: 270%;
  }

  #whatwedo p
  {
          font-size: 102%;
  }
}

@media screen and (min-width:768px)
{
  #whatwedo h1
  {
          font-size: 303%;
  }

  #whatwedo p
  {
          font-size: 128%;
  }
}

@media screen and (min-width:1024px)
{
  #whatwedo h1
  {
          font-size: 400%;
  }

  #whatwedo p
  {
          font-size: 149%;
  }
}

@media screen and (min-width:1200px)
{
  #whatwedo h1
  {
          font-size: 496%;
  }

  #whatwedo p
  {
          font-size: 149%;
  }
}
