*
{
    margin:0;
    padding:0;
}

body
{
background-image: -webkit-linear-gradient(bottom, rgb(199,197,167) 16%, rgb(0,0,0) 54%);
    
}

#banner
{
    width: 100%;
    
    background-image: url(../images/diamond-skull.jpg);
	background-repeat: no-repeat;

}


#banner #headers{
padding-bottom: 5%;
}

#banner #headers h1
{
    color: #CF6174;
    font-size: 550%;
	font-family: cursive;
    background: -webkit-gradient(linear, left top , left bottom, from(#FF778F), to(#C7C5A7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #1A4352;
    padding-left: 20%;
	
}


#banner #headers h2{
	color:#C7C5A7;
	width: 30%;
	float: right; 
	margin-right: 8%;   	
	font-size: 170%;
}

#menuwrapper
{
position: absolute;
bottom:0;
width: 100%;


margin: 0 auto;


}


#menuwrapper:after{
content: ".";
display: block;

clear: both;
}


#menuwrapper ul
{
position:absolute;
bottom:0;
list-style: none;
padding:0;
margin: 0 auto;
width:100%;
font-size: 180%;
letter-spacing: 5px;
font-family: Verdana;

text-align: center;

/* cancels gap caused by top padding in Opera 7.54 */

}

#menuwrapper ul li
{
display: blcok;
float: left;
width: 25%;
margin: 0;
padding: 0;


}

#menuwrapper ul li a
{
display: block;

padding: 5%;
border-width: 5px;
border-color: #1A4352;
border-style: solid;
color: #CF6174;
font-weight: bold;
text-decoration: none;

}


#menuwrapper>ul li a { width: auto; }

#menuwrapper ul li#active a
{
	

}

#menuwrapper li a:hover, #menuwrapper li a.activediv
{
	color: #DBD028;
	background: transparent;
	border-color: #C7C5A7;
}

#gallery
{
	
	margin-top: 2%;
}


#gallerymenuWrapper{
	width: 20%;
	
	float: left;
	
}

#gallerymenuWrapper li{
	
	
	font-size: 100%;
	padding-left: 20px;

	padding-top: 15%;
	
}

#gallerymenuWrapper li a{
	
background-image: url(../images/skullringsmaller.jpg);
background-repeat: no-repeat;
	
	font-size: 250%;
	padding-left: 30%;
	text-decoration: none;
	color: white;
	
}

#imagegallery
{
    
    width: 50%;
    height: 50%;
	
}
    
    
    
    
#welcome
{
    color: #DBD328;

    width: 50%;
    font-size: 180%;
    margin: 2%;
}


#welcome a
{
    
    
    color : #C7C5A7;
    text-decoration: underline;
}


#slidinggallery
{
    
    border: solid #C7C5A7 5px;
     width: 400px;
  height: 200px;
    font-size: 180%;
    margin: 2%;
	float: right;
}