*
{
    margin:0;
    padding:0;
}


#main
{
	

	background-color: yellow;
}


#logoandmenu
{
    background-color: Green;
}


#logoandmenu #banner
{
    	width: 40%;
	font-size: 150%;
	
	background-color:red;
}


#logoandmenu #banner 
{
    	margin-left: 15%;
}

#logoandmenu #menu 
{
	width: 50%;
	float: right;
	background-color:pink;
	margin-top: 8%;
	font-size: 200%
}

#menu #menulist li
{
    display: inline;
}


#menu #menulist li a
{
    color: #DBD328;
    
}

#home
{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 3%;
    color: #1A4352;
	background-color: black
}

#whatwedo
{
	background-color: lime;
	width: 60%;
}

#whatwedo h1
{
	font-size: 780%
}

#whatwedo p
{
	font-size: 200%;
	color: white;
}
#footer
{
	margin-top: 3%;
	text-align: center;
	background-color: purple;
    color: #1A4352;
}