*
{
    margin:0;
    padding:0;
}


#main
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.36, rgb(199,197,167)),
	    color-stop(0.85, rgb(207,97,115))
	);

}


#logoandmenu
{
	background-image: url(../images/diamondskullnoback.png);
	background-repeat: no-repeat;
	
}


#logoandmenu #banner
{
    	width: 40%;
	font-size: 150%;
	padding-bottom: 3%
	
}


#logoandmenu #banner 
{
    	margin-left: 15%;
}


#logoandmenu #banner h1
{
	font-family: cursive;
    background: -webkit-gradient(linear, left top , left bottom, from(#DBD328), to(#C7C5A7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #1A4352;
	padding-top: 4%;
	padding-left: 7%;

}

#logoandmenu #menu 
{
	width: 32%;
	float: right;
	margin-top: 11%;
	font-size: 200%;
	
}

#menu #menulist li
{
    display: inline;
}


#menu #menulist li a
{
    color: #DBD328;
    text-decoration: none;
    
}

#home
{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	
    color: #1A4352;
	border: solid 3px; 
border-radius: 10% 10%;
}


#home #slidinggallery
{
	margin:3%;
	border: solid 2px;
    height: 550%;
    width: 210%;
}
#whatwedo
{
	width: 50%;
	margin: 3%;
}

#whatwedo h1
{
	font-size: 770%
}

#whatwedo p
{
	font-size: 150%;
	
}

#home #slidinggallery
{
	width: 450px;
	height: 310px;
	float: right;
}
#footer
{
	margin-top: 3%;
	text-align: center;
    color: #1A4352;
}