form div
{
    border: solid white 2px;
    margin: 5px;
    
}

form label
{
    border: solid blue 1px;
    margin: 5px;
}

form input
{
  
    margin : 15px;
} 

.active
{
  background-color:#00825A
}
.error 
{
  background-color: red;
  display:none;
}


