#mainimagecontainer 
{
    text-align: center;
}


#mainimage
{
    margin-top: 15px;
    max-width: 90%;
    min-width: 90%;
    margin-left: 5%;
}

#content
{
    color: white;
    font-size: 100%;
    font-weight:bold;
    font-family: 'Bilbo Swash Caps', cursive;
}

#description
{
    
    width: 55%;
    float: left;
    color: white;
    
    margin-left: 5%;
    margin-top: 15px;
    
}
#details
{
    width: 35%;
    color: white;
    float: right;
    
    
    margin-top: 15px;
    
}


dl {
 width:100%;
 overflow:hidden;
 
}
dt {
 float:left;
 width:30%; /* adjust the width; make sure the total of both is 100% */
 margin-right: 15%;
 
}
dd {
 float:left;
 
 width:50%; /* adjust the width; make sure the total of both is 100% */
 
}


#emptydiv
{
  clear: both;
}


#birth
{
    clear: both;
    text-align: center;
    width: 100%;
    margin-top: 24px;
}

#birth img
{
  margin: 1%;
  max-width: 10%;
  min-width: 10%;
  
  min-height: 10%;
  max-height: 10%;
  

}
#content img
{
    border: solid white 2px;
}



@media screen and (min-width:600px)
{
  #mainimage
  {
      max-width: 40%;
      min-width: 40%;
      margin-right:1%;
      margin-left:1%;
      padding-left: 0%;
  }
  #description
  {
      margin-right:1%;
      margin-left:1%;
      width: 25%;
      float: left;
      
      
      
  }
  #details
  {
      width: 25%;
      
      margin-right:1%;
      margin-left:1%;
      
  }
    
}







@media screen and (min-width:1024px)
{

  #content
  {
    font-size: 100%;
  }

}
@media screen and (min-width:1200px)
{

  #content
  {
    font-size: 164%;
  }

}




