@media screen and (min-width: 300px)
{
  #mainimagecontainer 
  {
      text-align: center;
  }


  #mainimage
  {
      margin-top: 15px;
      max-width: 80%;
      padding-left: 10%;
      
  }

  #content
  {
      color: white;
      font-weight:bold;
      font-family: 'Bilbo Swash Caps', cursive;
  }

  #description
  {
      
      width: 45%;
      float: left;
      color: white;
      
      margin-left: 3%;
      margin-top: 15px;
      
  }
  #details
  {
      width: 36%;
      color: white;
      float: right;
      margin-right: 3%;
      margin-top: 15px;
  }


  dl {
   width:100%;
   overflow:hidden;
   
  }
  dt {
   float:left;
   width:30%; /* adjust the width; make sure the total of both is 100% */
   
  }
  dd {
   float:left;
   width:50%; /* adjust the width; make sure the total of both is 100% */
   
  }


  #emptydiv
  {
    clear: both;
  }


  #birth
  {
      clear: both;
      text-align: center;
      width: 100%;
      margin-top: 24px;
  }

  #birth img
  {
    max-width: 15%;
  }
 #content img
  {
      border: solid white 2px;
  }

}


@media screen and (min-width:600px)
{
  #mainimage
  {
      max-width: 40%;
      padding-left: 0%;
  }
  #description
  {
      
      width: 26%;
      float: left;
      
      
  }
  #details
  {
      width: 26%;
      
  }
    
}




@media screen and (min-width:480px)
{
  #content
  {
    font-size: 116%;
  }
}


@media screen and (min-width:1024px)
{

  #content
  {
    font-size: 136%;
  }

}
@media screen and (min-width:1200px)
{

  #content
  {
    font-size: 164%;
  }

}


